DJANGO_SECRET_KEY=change-this-secret-key
DEBUG=false
ALLOWED_HOSTS=.onrender.com,localhost,127.0.0.1

DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME
DATABASE_SSL_REQUIRE=true

REDIS_URL=redis://default:password@host:6379
SERVE_STATIC=true

CORS_ALLOW_ALL_ORIGINS=false
CORS_ALLOWED_ORIGINS=https://tu-frontend.com
CSRF_TRUSTED_ORIGINS=https://*.onrender.com,https://tu-dominio.com
